@layer theme, base, mui, components, utilities;
@import 'tailwindcss';

.Mui-selected {
    background-color:#c383e2;
    color:white;
}

:root {
  --plyr-color-main: #c383e2;
  --plyr-video-background: #0e0725;
}